<div class="table-responsive">
  <table class="table table-striped table-ligth table-hover">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Code</th>
        <th>State</th>
        <th>City</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Zone</th>
      </tr>
    </thead>
    <tbody *ngFor="let station of stations">
      <tr *ngFor="let data of station">
        <th>{{ data._id }}</th>
        <td>{{ data.name | titlecase }}</td>
        <td>{{ data.code }}</td>
        <td>{{ data.info.state | titlecase }}</td>
        <td>{{ data.info.city | uppercase }}</td>
        <td>{{ data.coordinates.latitude | number: "2.6" }}</td>
        <td>{{ data.coordinates.longitude | number: "2.6" }}</td>
        <td>{{ data.coordinates.zone }}</td>
      </tr>
    </tbody>
  </table>
</div>
