.title {
  margin: 0px;
  max-width: 100%;
  padding: 0px;
  height: 150px;

  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50%;
  display: flex;

  background: #125bda;
  color: #ffffff;
}
